<mat-list>
  <div *ngFor="let word of words">
    <mat-list-item>
      <h4 mat-line class="word-item-text">{{word.word_en}}
        <span class="example-spacer"></span>
        <mat-icon>delete_outline</mat-icon>
        <mat-icon (click)="editWordItem(word.id)">edit_outline</mat-icon>
      </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
<div class="overlay" *ngIf="showEditWord"></div>
<mat-card class="modal-edit-words" *ngIf="showEditWord">
  <mat-card-header class="modal-header">
    <mat-card-title>Edit word</mat-card-title>
    <button mat-icon-button class="close-modal" (click)="showEditWord = !showEditWord">
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
  </mat-card-header>
  
  <mat-card-content>
    <form class="edit-word-form" #editWordForm="ngForm" (ngSubmit)="updateCurrentWord(editWordForm)">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>English</mat-label>
        <input 
          matInput
          type="text"
          name="word_en"
          #addFormWordEng="ngModel"
          [(ngModel)]="word.word_en"
          placeholder="English"
          required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Türkçe</mat-label>
        <input 
          matInput
          type="text"
          name="word_tr"
          #addFormWordTr="ngModel"
          [(ngModel)]="word.word_tr"
          placeholder="Türkçe"
          required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <input
        matInput
        type="text"
        name="word_sentence"
        #addFormWordSentence="ngModel"
        [(ngModel)]="word.word_sentence"
        placeholder="Add Sentence"
        required>
      </mat-form-field>
        <input type="hidden" name="id" #addFormWordId="ngModel" [(ngModel)]="wordIds">
        <input type="hidden" name="created_date" #addFormWordDate="ngModel" [(ngModel)]="createdDate">
      <button mat-raised-button color="primary" class="btn-send">Add New Word</button>
    </form>
  </mat-card-content>
</mat-card>
