<mat-list>
  <mat-list-item>
    <h4 mat-line>Word item 2
      <span class="example-spacer"></span>
      <mat-icon>close</mat-icon>
      <mat-icon>edit</mat-icon>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h4 mat-line>Word item 2
      <span class="example-spacer"></span>
      <mat-icon>close</mat-icon>
      <mat-icon>edit</mat-icon>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h4 mat-line>Word item 2
      <span class="example-spacer"></span>
      <mat-icon>close</mat-icon>
      <mat-icon>edit</mat-icon>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h4 mat-line>Word item 2
      <span class="example-spacer"></span>
      <mat-icon>close</mat-icon>
      <mat-icon>edit</mat-icon>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h4 mat-line>Word item 2
      <span class="example-spacer"></span>
      <mat-icon>close</mat-icon>
      <mat-icon>edit</mat-icon>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h4 mat-line>Word item 2
      <span class="example-spacer"></span>
      <mat-icon>close</mat-icon>
      <mat-icon>edit</mat-icon>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h4 mat-line>Word item 2
      <span class="example-spacer"></span>
      <mat-icon>close</mat-icon>
      <mat-icon>edit</mat-icon>
    </h4>
  </mat-list-item>
</mat-list>