
<mat-card>
  <mat-card-header>
    <mat-card-title>Add new word</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="add-word-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="English">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Türkçe">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Example Sentence">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Example Sentence">
      </mat-form-field>
      
        <button mat-raised-button color="primary" class="btn-send">Add New Word</button>
    </form>
  </mat-card-content>
</mat-card>
