<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="logo" routerLink="/">      
        <mat-icon>spellcheck</mat-icon>
        <span>&nbsp;ngDictionary</span>
      </div>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="matMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #matMenu>
        <button routerLink="add-word" mat-menu-item>Add new</button>
        <button routerLink="all-words" mat-menu-item>All words</button>
        <button routerLink="profile" mat-menu-item>My Profile</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>