<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo" routerLink="/">
      <mat-icon>spellcheck</mat-icon>
      <span>&nbsp;ngDictionary</span>
    </div>
    <span class="example-spacer"></span>
    <span class="profile-menu" routerLink="register" *ngIf="!loginStatus">
      <mat-icon>account_circle</mat-icon> 
      <span class="text">Register</span>
    </span>
    <span class="profile-menu" routerLink="profile" *ngIf="loginStatus">
      <mat-icon>account_circle</mat-icon> 
      <span class="text">Fatih</span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>