.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.login-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  left: 15px;
  margin: auto;
  height: 190px;
  padding: 50px 15px;
}
.login-modal .btn-login {
  width: 100%;
}