<mat-card class="profile-item">
  <mat-card-header>
    <div mat-card-avatar class="profile-avatar"></div>
    <mat-card-title>Fatih AKGÖZE</mat-card-title>
    <mat-card-subtitle>f.akgoze@gmail.com</mat-card-subtitle>
    {{uid}}
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <h2 mat-subheader>My Word Lists</h2>
      <mat-list-item>
        <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
        <h4 mat-line><strong>folder.name</strong></h4>
        <p mat-line>folder.updated</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
        <h4 mat-line><strong>folder.name</strong></h4>
        <p mat-line>folder.updated</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
        <h4 mat-line><strong>folder.name</strong></h4>
        <p mat-line>folder.updated</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>